blinker
charset-normalizer
click
Flask
flask-cors
itsdangerous
Jinja2
lz4
MarkupSafe
pillow
reportlab
sqlitecloud
Werkzeug
gunicorn

Flask
flask-cors
supabase
python-dotenv
reportlab
Werkzeug
gunicorn